/*=====================================================================
  ベーススタイル
=====================================================================*/
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--sumi);
  font-size: 1rem;
  line-height: 1.8;
  background-color: var(--shiro);
}

a {
  color: var(--sumi);
  text-decoration: none;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
  margin-block-end: 50px;
  letter-spacing: 0.1em;
}

section {
  padding: 100px 20px;
  
  @media (width <= 768px) {
    padding: 60px 20px;
  }
}

.inner {
  max-inline-size: 1000px;
  margin-inline: auto;
}
