/*=====================================================================
  カラーパレット - ミニマル
=====================================================================*/
:root {
  --shiro:        #ffffff;
  --kinari:       #f5f5f5;
  --hai:          #999999;
  --sumi:         #333333;
  --kuro:         #000000;
  
  --kuro-90:      rgb(0 0 0 / 90%);
  --sumi-10:      rgb(51 51 51 / 10%);
}
