/*=====================================================================
  ヒーロー
=====================================================================*/
#hero {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  display: grid;
  place-items: center;
  padding: 100px 40px;
}

.hero-lead {
  font-family: 'Lato', sans-serif;
  font-size: clamp(2rem, 8vw, 5rem);
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 0.05em;
}
