/*=====================================================================
  ローディング画面
=====================================================================*/
#splash {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
  background-color: var(--shiro);
}

.splash-logo {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.splash-bg {
  display: none;
}

body.appear .splash-bg {
  display: block;
  position: fixed;
  z-index: 9998;
  inset: 0;
  background-color: var(--sumi);
  animation: page-wipe 0.8s ease-in-out forwards;
}

@keyframes page-wipe {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

#wrapper {
  opacity: 0;
}

body.appear #wrapper {
  animation: fade-in 0.8s 0.5s forwards;
}

@keyframes fade-in {
  to { opacity: 1; }
}
