/*=====================================================================
  アニメーション
=====================================================================*/
.fade-down {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.6s;
  
  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  display: inline-block;
  overflow: hidden;
  
  span {
    display: inline-block;
    transform: translateY(100%);
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  &.is-visible span {
    transform: translateY(0);
  }
}
