/*=====================================================================
  ヘッダー
  ロゴとナビゲーション
=====================================================================*/

#header {
  position: fixed;
  z-index: 100;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding-inline: 2%;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.3s;

  /* スクロール後に表示 */
  &.is-visible {
    opacity: 1;
    transform: translateY(0);
    background-color: var(--kuro-80);
  }

  /* スクロール位置が上に戻った時 */
  &.is-hidden {
    opacity: 0;
    transform: translateY(-100%);
  }
}

#header h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
  white-space: nowrap;

  a {
    color: var(--shironezumi);
  }
}

@media (width <= 960px) {
  #header h1 {
    position: absolute;
    inset-block-start: 22px;
    inset-inline-start: 20px;
    padding: 0;
  }
}
