/*=====================================================================
  ページトップボタン
  右から出現するスタイル
=====================================================================*/

#page-top {
  position: fixed;
  z-index: 2;
  inset-inline-end: 0;
  inset-block-end: 0;
  opacity: 0;
  transform: translateX(100px);

  &.is-visible {
    animation: slide-left 0.5s forwards;
  }

  &.is-hidden {
    animation: slide-right 0.5s forwards;
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(100px);
  }
}

#page-top a {
  display: grid;
  place-items: center;
  inline-size: 60px;
  block-size: 50px;
  background-color: var(--shinku);
  color: var(--gofun);
  transition: all 0.3s;

  &:hover {
    background-color: var(--enji);
    block-size: 55px;
  }
}

#page-top span {
  display: inline-block;
  inline-size: 13px;
  block-size: 13px;
  border-block-start: 4px solid var(--gofun);
  border-inline-start: 4px solid var(--gofun);
  transform: rotate(45deg);
}
