/*=====================================================================
  お問い合わせセクション
=====================================================================*/
#contact {
  padding: 100px 20px;
  text-align: center;
  background: linear-gradient(135deg, var(--rurikon), var(--kon));
  
  h2 {
    font-size: 2rem;
    margin-block-end: 10px;
    
    span {
      display: block;
      font-size: 0.9rem;
      color: var(--ai);
      margin-block-start: 10px;
    }
  }
  
  > p {
    color: var(--hai);
    margin-block-end: 30px;
  }
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-block-end: 40px;
  
  dl {
    display: flex;
    gap: 10px;
  }
  
  dt {
    color: var(--ai);
  }
  
  a {
    color: var(--shiro);
  }
  
  @media (width <= 480px) {
    flex-direction: column;
    gap: 15px;
  }
}
