/*=====================================================================
  波形キャンバス
=====================================================================*/
#wave-canvas {
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 0;
  z-index: 0;
  inline-size: 100%;
  block-size: 150px;
  pointer-events: none;
}
