/*=====================================================================
  ボタン
  各種ボタンスタイル
=====================================================================*/

/* 基本ボタン（線から塗りに変化） */
.btn-outline {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  color: var(--sumi);
  border: 1px solid var(--usuhai);
  text-decoration: none;
  outline: none;
  overflow: hidden;
  transition: color 0.3s;
  transition-delay: 0.6s;

  &:hover {
    color: var(--gofun);
    border-color: transparent;
  }

  /* ボタン内のテキスト */
  span {
    position: relative;
    z-index: 2;
    display: block;

    /* 左右の線 */
    &::before,
    &::after {
      content: "";
      position: absolute;
      inset-block-start: 0;
      inline-size: 1px;
      block-size: 0;
      background-color: var(--kobaiiro);
      transition: block-size 0.3s;
    }

    &::before {
      inset-inline-start: 0;
    }

    &::after {
      inset-inline-end: 0;
    }
  }

  &:hover span::before,
  &:hover span::after {
    block-size: 100%;
  }

  /* 背景の塗り */
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 0;
    background-color: var(--kobaiiro);
    transition: block-size 0.3s;
    transition-delay: 0.4s;
  }

  &:hover::before {
    block-size: 100%;
  }
}

/* リードセクション用ボタン */
.lead-button .btn-outline {
  padding: 20px 15px;

  @media (width <= 768px) {
    inline-size: 250px;
    padding: 10px 30px;
  }
}
