/*=====================================================================
  ページトップボタン
  フッター付近で表示される先頭へ戻るボタン
=====================================================================*/

#page-top {
  position: fixed;
  z-index: 2;
  inset-inline-end: 0;
  inset-block-end: 0;
  opacity: 0;
  transform: translateY(100px);

  /* 表示状態 */
  &.is-visible {
    animation: slide-up 0.5s forwards;
  }

  /* 非表示状態 */
  &.is-hidden {
    animation: slide-down 0.5s forwards;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}

#page-top a {
  display: grid;
  place-items: center;
  inline-size: 60px;
  block-size: 50px;
  background-color: var(--kobaiiro);
  color: var(--gofun);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;

  &:hover {
    background-color: var(--hai);
    block-size: 55px;
  }
}

/* 矢印アイコン */
#page-top span {
  display: inline-block;
  inline-size: 13px;
  block-size: 13px;
  border-block-start: 4px solid var(--gofun);
  border-inline-start: 4px solid var(--gofun);
  transform: rotate(45deg);
}
