/*=====================================================================
  アクセスセクション
=====================================================================*/
#access {
  position: relative;
}

.access-bg {
  position: relative;
  block-size: 50vh;
  background: url("../images/hero-02.webp") no-repeat center / cover fixed;
  
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--kuro-50);
  }
}

.access-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-inline-size: 1000px;
  margin-inline: auto;
  
  @media (width <= 768px) {
    grid-template-columns: 1fr;
  }
}

.access-map {
  & iframe {
    inline-size: 100%;
    block-size: 100%;
    min-block-size: 350px;
    border: none;
  }
}

.access-block {
  display: grid;
  place-items: center;
  padding: 40px;
  background-color: var(--gofun);
}

.access-box {
  text-align: center;
  
  & h3 {
    font-size: 1.3rem;
    margin-block-end: 20px;
    letter-spacing: 0.1em;
  }
  
  & p {
    font-size: 0.9rem;
    color: var(--hai);
    margin-block-end: 30px;
  }
}
