/*=====================================================================
  ベーススタイル
=====================================================================*/
body {
  font-family: 'Noto Serif JP', serif;
  color: var(--sumi);
  font-size: 1rem;
  line-height: 2;
  background: url("../images/bg-washi.webp") repeat var(--kinari);
}

a {
  color: var(--kuriiro);
  text-decoration: none;
  transition: opacity 0.3s;
  
  &:hover {
    opacity: 0.7;
  }
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2, h3 {
  font-weight: 400;
}
