.site-header {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 230px;
  block-size: 100svh;
  background: rgb(253 253 253 / 95%);
  display: grid;
  justify-items: center;
  align-content: start;
  padding-block: 150px var(--space-6);
  backdrop-filter: blur(6px);
}

.header-inner {
  inline-size: 73px;
  display: grid;
  gap: var(--space-4);
}

.site-title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1rem;
  letter-spacing: 1em;
  color: var(--color-brand-2);
  display: grid;
  gap: var(--space-2);

  span {
    display: block;
    font-size: 2.5rem;
    letter-spacing: 0.5em;
  }
}

.site-tagline {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.3em;
}

.sns-links {
  position: absolute;
  inset-inline-start: 45px;
  inset-block-end: 50px;
  display: grid;
  grid-auto-flow: row;
  gap: var(--space-3);

  li a {
    display: grid;
    place-items: center;
    inline-size: 36px;
    block-size: 36px;
    border-radius: 999px;
    background: rgb(255 255 255 / 70%);
    backdrop-filter: blur(6px);
  }

  img {
    inline-size: 18px;
  }
}

@media (width <= 990px) {
  .site-header {
    position: absolute;
    inline-size: auto;
    block-size: 90svh;
    background: none;
    padding: 0;
    inset-inline: 0;
    inset-block-start: 0;
    justify-items: start;
    align-content: center;
    padding-inline: var(--space-5);
    color: #fff;
  }

  .header-inner {
    inline-size: auto;
    gap: 0;
  }

  .site-title,
  .site-tagline {
    background: var(--brand-90);
    padding-inline: var(--space-4);
    padding-block: var(--space-4);
    color: #fff;
  }

  .site-title {
    inline-size: 120px;
    block-size: 210px;

    span {
      font-size: 2.3rem;
    }
  }

  .site-tagline {
    inline-size: 120px;
    block-size: 150px;
    padding-block: var(--space-4);
  }

  .sns-links {
    inset-inline-start: var(--space-5);
    inset-block-end: var(--space-5);
  }
}
