/*=====================================================================
  アニメーション
=====================================================================*/
.blur-in {
  filter: blur(10px);
  opacity: 0;
  transition: all 1s;
  
  &.is-visible {
    filter: blur(0);
    opacity: 1;
  }
}

.text-animate span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
}

.text-animate.is-visible span {
  animation: text-rise 0.5s forwards;
}

@keyframes text-rise {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
