/*=====================================================================
  フッター
=====================================================================*/
#footer {
  position: fixed;
  inset-block-end: 0;
  inset-inline: 0;
  z-index: 10;
  padding: 15px;
  text-align: center;
  background-color: transparent;
}

.copyright {
  font-size: 0.8rem;
  color: var(--hai);
}
