/*=====================================================================
  レイアウト - フルスクリーンスナップスクロール
=====================================================================*/
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

