/*=====================================================================
  ヒーロー（リードエリア）
=====================================================================*/
#lead {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 120px 40px 80px;
  align-items: center;
  
  @media (width <= 960px) {
    grid-template-columns: 1fr;
    padding-block-start: 100px;
  }
}

.slider-area {
  position: relative;
  aspect-ratio: 16 / 10;
  overflow: hidden;
  
  & img {
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
    
    &.is-active {
      opacity: 1;
    }
  }
}

.lead-content {
  & h2 {
    margin-block-end: 20px;
  }
  
  & .lead-text {
    font-size: 1.8rem;
    font-weight: bold;
    margin-block-end: 40px;
    line-height: 1.6;
    
    & span {
      display: block;
    }
    
    @media (width <= 768px) {
      font-size: 1.3rem;
    }
  }
}
