/*=====================================================================
  メッセージ
=====================================================================*/
#message {
  background-color: var(--shiro);
}

.message-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-inline-size: 1000px;
  margin-inline: auto;
  align-items: center;
  
  @media (width <= 768px) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.message-image {
  background: url("../images/message.webp") no-repeat center / cover;
  min-block-size: 350px;
  
  @media (width <= 768px) {
    min-block-size: 250px;
  }
}

.message-content {
  & h3 {
    font-size: 1.5rem;
    margin-block-end: 20px;
    line-height: 1.8;
    color: var(--ai);
  }
  
  & p {
    margin-block-end: 30px;
    color: var(--hai);
  }
}
