/*=====================================================================
  ナビゲーション
=====================================================================*/
.menu-toggle {
  position: fixed;
  z-index: 9999;
  inset-block-start: 20px;
  inset-inline-start: 20px;
  inline-size: 50px;
  block-size: 50px;
  cursor: pointer;
  background: var(--ai);
  border: none;
  
  & span {
    display: block;
    position: absolute;
    inset-inline-start: 12px;
    inline-size: 26px;
    block-size: 2px;
    background-color: var(--shiro);
    transition: all 0.3s;
    
    &:nth-of-type(1) { inset-block-start: 16px; }
    &:nth-of-type(2) { inset-block-start: 24px; }
    &:nth-of-type(3) { inset-block-start: 32px; }
  }
  
  &.is-active span {
    &:nth-of-type(1) {
      inset-block-start: 24px;
      transform: rotate(45deg);
    }
    &:nth-of-type(2) { opacity: 0; }
    &:nth-of-type(3) {
      inset-block-start: 24px;
      transform: rotate(-45deg);
    }
  }
}

#global-nav {
  position: fixed;
  z-index: 998;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: var(--kon-90);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  
  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.nav-list {
  text-align: center;
  
  & a {
    display: block;
    padding: 15px 40px;
    color: var(--shiro);
    font-size: 1.1rem;
    transition: color 0.3s;
    
    &:hover {
      color: var(--kincha);
    }
  }
  
  & .current a {
    color: var(--kincha);
  }
}
