/*=====================================================================
  お知らせ
=====================================================================*/
#news {
  background-color: var(--shiro);
  padding: 30px;
  border-inline-start: 4px solid var(--kincha);
  
  & h2 {
    font-size: 1rem;
    margin-block-end: 15px;
    color: var(--ai);
  }
  
  & li {
    margin-block-end: 10px;
    
    &:last-child {
      margin-block-end: 0;
    }
  }
  
  & a {
    display: flex;
    gap: 15px;
    color: var(--sumi);
    transition: color 0.3s;
    
    &:hover {
      color: var(--ai);
    }
    
    @media (width <= 480px) {
      flex-direction: column;
      gap: 5px;
    }
  }
  
  & time {
    color: var(--hai);
    font-size: 0.9rem;
  }
}
