/*=====================================================================
  フッター
=====================================================================*/
#footer {
  position: fixed;
  z-index: 10;
  inset-block-end: 0;
  inset-inline: 0;
  padding: 15px;
  text-align: center;
  mix-blend-mode: difference;
}

.copyright {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
}
