/*=====================================================================
  カラーパレット - エレガントなモノトーン
=====================================================================*/
:root {
  --shiro:        #ffffff;
  --kinari:       #f5f5f5;
  --hai:          #888888;
  --nezumi:       #555555;
  --sumi:         #333333;
  --kuro:         #000000;
  
  --kuro-70:      rgb(0 0 0 / 70%);
  --kuro-50:      rgb(0 0 0 / 50%);
  --shiro-80:     rgb(255 255 255 / 80%);
}
