/*=====================================================================
  レイアウト
=====================================================================*/
.wrapper {
  padding: 40px;
  background-color: var(--kuro);
  
  @media (width <= 768px) {
    padding: 20px;
  }
}
