/*=====================================================================
  ページトップボタン
=====================================================================*/
#page-top {
  position: fixed;
  z-index: 10;
  inset-inline-end: 20px;
  inset-block-end: 20px;
  
  a {
    display: grid;
    place-items: center;
    inline-size: 60px;
    block-size: 60px;
    background-color: var(--sora);
    color: var(--shiro);
    border-radius: 50%;
    font-size: 0.7rem;
    text-align: center;
    line-height: 1.2;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    transition: all 0.3s;
    
    &:hover {
      background-color: var(--momo);
      transform: translateY(-5px);
    }
  }
}
