/*=====================================================================
  ヒーロースライダー
=====================================================================*/
.hero-slider {
  position: absolute;
  z-index: 1;
  inset-block-start: 0;
  inset-inline-end: 0;
  inline-size: 60%;
  block-size: 100%;
  overflow: hidden;
  
  @media (width <= 768px) {
    inline-size: 100%;
    block-size: 50%;
    inset-block-start: auto;
    inset-block-end: 0;
  }
}

.hero-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s;
  
  &.is-active {
    opacity: 1;
  }
  
  &.slide-01 {
    background: url("../images/hero-01.webp") no-repeat center / cover;
  }
  
  &.slide-02 {
    background: url("../images/hero-02.webp") no-repeat center / cover;
  }
  
  &.slide-03 {
    background: url("../images/hero-03.webp") no-repeat center / cover;
  }
}
